body{ 
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #224;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
  padding: 0;
  color: white;
}

li {
  list-style: none;
}

.App__MainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}